<html>
<h1 align="center">Hello ... from {{site_name}} :)</h1>
<p align="center">
<iframe src="https://giphy.com/embed/sDcfxFDozb3bO" width="480" height="269" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></p>
</html>